html {
  scroll-behavior: smooth;
}

div[class='utterances'] {
  max-width: 100% !important;
}

*::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: var(--chakra-colors-orange-500);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: var(--chakra-colors-orange-400);
}
